.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  .title-bg-color{
    background: cadetblue;
    margin-bottom: 30px;
}

.unit
{
  color: grey;
  margin-left: 5px;
}