<div *ngIf="isLoading" class="loader-container">
<mat-spinner style="top: 50%;left: 50%;"></mat-spinner>
</div>

<mat-toolbar class="title-bg-color">
  <span>Calculate Carbon Emissions</span>
</mat-toolbar>

<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Housing
      </mat-panel-title>
      <mat-panel-description>
        <span class="spacer"></span>
        <mat-icon>home</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Electricity</mat-label>
          <input matInput [(ngModel)]="catagory.housing.electricity" type="number" min="0">
        </mat-form-field>
        <span class="unit">(kWh/yr)</span>
      </mat-list-item>
      <!-- <mat-divider></mat-divider> -->
      <mat-list-item>
        <mat-form-field>
          <mat-label>Natural Gas</mat-label>
          <input matInput [(ngModel)]="catagory.housing.naturalGas" type="number" min="0">
        </mat-form-field>
        <span class="unit">(therms/yr)</span>
      </mat-list-item>
      <!-- <mat-divider></mat-divider> -->
      <mat-list-item>
        <mat-form-field>
          <mat-label>Fuel Oil</mat-label>
          <input matInput [(ngModel)]="catagory.housing.fuelOil" type="number" min="0">
        </mat-form-field>
        <span class="unit">(litres/yr)</span>
      </mat-list-item>
      <!-- <mat-divider></mat-divider> -->
      <mat-list-item>
        <mat-form-field>
          <mat-label>LPG</mat-label>
          <input matInput [(ngModel)]="catagory.housing.lPG" type="number" min="0">
        </mat-form-field>
        <span class="unit">(litres/yr)</span>
      </mat-list-item>
      <!-- <mat-divider></mat-divider> -->
      <mat-list-item>
        <mat-form-field>
          <mat-label>Waste</mat-label>
          <input matInput [(ngModel)]="catagory.housing.waste" type="number" min="0">
        </mat-form-field>
        <span class="unit">(kg/week)</span>
      </mat-list-item>
      <!-- <mat-divider></mat-divider> -->
      <mat-list-item>
        <mat-form-field>
          <mat-label>Water</mat-label>
          <input matInput [(ngModel)]="catagory.housing.water" type="number" min="0">
        </mat-form-field>
        <span class="unit">(litres/day)</span>
      </mat-list-item>
    </mat-list>

    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Travel
      </mat-panel-title>
      <mat-panel-description>
        <span class="spacer"></span>
        <mat-icon>flight_takeoff</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-list>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Vehicle</mat-label>
          <input matInput [(ngModel)]="catagory.travel.vehicle" type="number" min="0">
        </mat-form-field>
        <span class="unit">(km/yr)</span>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Bus</mat-label>
          <input matInput [(ngModel)]="catagory.travel.bus" type="number" min="0">
        </mat-form-field>
        <span class="unit">(km/yr)</span>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Metro</mat-label>
          <input matInput [(ngModel)]="catagory.travel.metro" type="number" min="0">
        </mat-form-field>
        <span class="unit">(km/yr)</span>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Taxi</mat-label>
          <input matInput [(ngModel)]="catagory.travel.taxi" type="number" min="0">
        </mat-form-field>
        <span class="unit">(km/yr)</span>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Rail</mat-label>
          <input matInput [(ngModel)]="catagory.travel.rail" type="number" min="0">
        </mat-form-field>
        <span class="unit">(km/yr)</span>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Flying</mat-label>
          <input matInput [(ngModel)]="catagory.travel.flying" type="number" min="0">
        </mat-form-field>
        <span class="unit">(km/yr)</span>
      </mat-list-item>
    </mat-list>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Food
      </mat-panel-title>
      <mat-panel-description>
        <span class="spacer"></span>
        <mat-icon>fastfood</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-list>
      <mat-list-item>
        <mat-form-field>
          <mat-label>White Meat</mat-label>
          <input matInput [(ngModel)]="catagory.food.whiteMeat" type="number" min="0">
        </mat-form-field>
        <span class="unit">(kCal/day)</span>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Dairy</mat-label>
          <input matInput [(ngModel)]="catagory.food.dairy" type="number" min="0">
        </mat-form-field>
        <span class="unit">(kCal/day)</span>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Cereals</mat-label>
          <input matInput [(ngModel)]="catagory.food.cereals" type="number" min="0">
        </mat-form-field>
        <span class="unit">(kCal/day)</span>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Vegetables</mat-label>
          <input matInput type="number" [(ngModel)]="catagory.food.vegetables" min="0">
        </mat-form-field>
        <span class="unit">(kCal/day)</span>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Fruit</mat-label>
          <input matInput type="number" [(ngModel)]="catagory.food.fruit" min="0">
        </mat-form-field>
        <span class="unit">(kCal/day)</span>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Oils</mat-label>
          <input matInput type="number" [(ngModel)]="catagory.food.oils" min="0">
        </mat-form-field>
        <span class="unit">(kCal/day)</span>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Snacks</mat-label>
          <input matInput type="number" [(ngModel)]="catagory.food.snacks" min="0">
        </mat-form-field>
        <span class="unit">(kCal/day)</span>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Drinks</mat-label>
          <input matInput type="number" [(ngModel)]="catagory.food.drinks" min="0">
        </mat-form-field>
        <span class="unit">(kCal/day)</span>
      </mat-list-item>
    </mat-list>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Products
      </mat-panel-title>
      <mat-panel-description>
        <span class="spacer"></span>
        <mat-icon>shopping_cart</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-list>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Electronics</mat-label>
          <input matInput [(ngModel)]="catagory.products.electronics" type="number" min="0">
        </mat-form-field>
        <span class="unit">(₹/month)</span>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Household</mat-label>
          <input matInput [(ngModel)]="catagory.products.household" type="number" min="0">
        </mat-form-field>
        <span class="unit">(₹/month)</span>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Clothes</mat-label>
          <input matInput [(ngModel)]="catagory.products.clothes" type="number" min="0">
        </mat-form-field>
        <span class="unit">(₹/month)</span>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Medical</mat-label>
          <input matInput type="number" [(ngModel)]="catagory.products.medical" min="0">
        </mat-form-field>
        <span class="unit">(₹/month)</span>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Recreational</mat-label>
          <input matInput type="number" [(ngModel)]="catagory.products.recreational" min="0">
        </mat-form-field>
        <span class="unit">(₹/month)</span>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Other</mat-label>
          <input matInput [(ngModel)]="catagory.products.other" type="number" min="0">
        </mat-form-field>
        <span class="unit">(₹/month)</span>
      </mat-list-item>
    </mat-list>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Services
      </mat-panel-title>
      <mat-panel-description>
        <span class="spacer"></span>
        <mat-icon>local_hospital</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-list>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Health</mat-label>
          <input matInput [(ngModel)]="catagory.services.health" type="number" min="0">
        </mat-form-field>
        <span class="unit">(₹/month)</span>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Finance</mat-label>
          <input matInput [(ngModel)]="catagory.services.finance" type="number" min="0">
        </mat-form-field>
        <span class="unit">(₹/month)</span>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Recreation</mat-label>
          <input matInput [(ngModel)]="catagory.services.recreation" type="number" min="0">
        </mat-form-field>
        <span class="unit">(₹/month)</span>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Education</mat-label>
          <input matInput [(ngModel)]="catagory.services.education" type="number" min="0">
        </mat-form-field>
        <span class="unit">(₹/month)</span>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Communications</mat-label>
          <input matInput [(ngModel)]="catagory.services.communications" type="number" min="0">
        </mat-form-field>
        <span class="unit">(₹/month)</span>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Other</mat-label>
          <input matInput [(ngModel)]="catagory.services.other" type="number" min="0">
        </mat-form-field>
        <span class="unit">(₹/month)</span>
      </mat-list-item>
    </mat-list>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <!-- <button mat-button color="primary" (click)="nextStep()">Next</button> -->
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<mat-divider></mat-divider>

<mat-action-row>
  <div class="example-button-row">
    <button mat-button mat-raised-button (click)="save()" color="primary">SAVE</button>
    <button mat-button mat-raised-button color="accent">CANCEL</button>
  </div>
</mat-action-row>
