<div class="container">
    <mat-toolbar class="title-bg-color">
        <span>Food</span>
    </mat-toolbar>
    <br>
    <p>The greenhouse gas emissions produced by growing, rearing, farming, processing, transporting, storing, cooking, and disposing of the food we eat are referred to as the foodprint</p>
    <p>Eat low on the food chain. This means eating mostly fruits, veggies, grains, and beans, mainly from feed production and processing and the methane (25 times more potent than CO2 at trapping heat in the atmosphere over 100 years) that beef and sheep belch out</p>
    <p>Every day that we forgo meat and dairy, we can reduce our carbon footprint by 8 pounds—that’s 2,920 pounds a year. We can start by joining Meatless Mondays</p>

    <div><b>Steps to reduce carbon footprint with food usage</b></div>
    <ul>
        <li>Choose organic and local foods that are in season</li>
        <li>Buy foodstuffs in bulk when possible using your own reusable container</li>
        <li>Reduce your food waste by planning meals ahead of time, freezing the excess</li>
        <li>Compost your food waste if possible</li>
        <li>Start your own garden</li>
        <li>Buy locally sourced food</li>
        <li>Store your food properly so it stays fresher for longer</li>
    </ul>
    <div class="example-button-row">
        <button mat-button mat-raised-button a routerLink="/articles" color="primary">BACK</button>
    </div>
</div>
