<div id="welcome" [ngClass]="style">

  <div class="welcome-display">
    <div>
      <img alt="App ID Logo" class="logo-icon top-animation" src="../../assets/reduce-your-carbon-footprint-logo.png">
      <!-- <p>Design a welcome page for Megha 
        Welcome to the<br>
        IBM Cloud App ID SPA SDK<br>
        Sample App
      </p> -->
    </div>
    <div style="margin-top: 40px;">
      <!-- <h1 class="title-class top-animation multicolortext">CARBON FOOTPRINT </h1>  -->
      <h1>
        <span style="line-height:1em;" class="title-class top-animation multicolortext"> TRACK YOUR CARBON FOOTPRINT</span>
      </h1>
    </div>
    <div style="margin-top: 40px;">
      <button id="login" mat-button mat-raised-button color="accent" [ngClass]='buttonDisplay'
        (click)="onLoginClick()">Login</button>
      <span [ngClass]="errorStyle" id="error">{{errorMessage}}</span>
    </div>
  </div>
</div>



<!-- 
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
      <label for="username">Username</label>
      <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
      </div>
  </div>
  <div class="form-group">
      <label for="password">Password</label>
      <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
      </div>
  </div>
  <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Login
      </button>
      <a routerLink="/register" class="btn btn-link">Register</a>
  </div>
</form> -->
