<div class="container">
    <mat-toolbar class="title-bg-color">
        <span>Travel</span>
    </mat-toolbar>
    <br>
    <p>Because natural gas and renewable energy are increasingly used to generate power, transportation has become the largest source of CO2 emissions. Each year, the average car emits roughly five tonnes of CO2.</p>
    <p>Greenhouse gas (GHG) emissions account for around 29% of total U.S. GHG emissions, making it the greatest source of carbon footprint</p>
    <p>Carbon dioxide, the greenhouse gas, is released into the atmosphere when fossil fuels like gasoline and diesel are burned. Carbon dioxide (CO2) and other greenhouse gases such as methane (CH4), nitrous oxide (N2O), and hydrofluorocarbons (HFCs) are causing the Earth's atmosphere to warm, causing climate change.</p>
    <p>Changing how we travel around can help us save a lot of money on your carbon footprint.</p>

    <div><b>Steps to reduce carbon footprint while travelling</b></div>
    <ul>
        <li>Drive less. Walk, take public transportation, carpool, rideshare or bike to your destination when possible. This not only reduces CO2 emissions, it also lessens traffic congestion and the idling of engines that accompanies it.</li>
        <li>Take care of your car. Keeping your tires properly inflated can increase your fuel efficiency by three percent</li>
        <li>Use traffic apps to help avoid getting stuck in traffic jams</li>
        <li>On longer trips, turn on the cruise control, which can save gas</li>
        <li>Use less air conditioning while you drive, even when the weather is hot</li>
        <li>If you’re shopping for a new car, consider purchasing a hybrid or electric vehicle</li>
        <li>Avoid flying if possible; on shorter trips, driving may emit fewer greenhouse gases</li>
        <li>Fly nonstop since landings and takeoffs use more fuel and produce more emissions</li>
        <li>If you can’t avoid flying, offset the carbon emissions of your travel</li>
    </ul>
    <div class="example-button-row">
        <button mat-button mat-raised-button a routerLink="/articles" color="primary">BACK</button>
    </div>
</div>