<div class="container">
    <mat-toolbar class="title-bg-color">
        <span>Service</span>
    </mat-toolbar>
    <br>
    <p>Households are accountable for nearly three quarters of global carbon emissions. A carbon footprint is the entire quantity of greenhouse gas emissions produced by a product or service during its manufacture, use, and disposal. It comprises carbon dioxide, the most prevalent gas released by humans, as well as other gases such as methane,  fluorinated gases and nitrous oxide, all of which trap heat in the atmosphere and contribute to global warming.</p>
    <p>The majority of a person's carbon footprint is usually created by housing, transportation, food, variety of effects on the environment, personal carbon footprint is influenced by how our house is designed and
        how we live in it.</p>
    <p>A household's carbon footprint can be divided into two types. The first are direct emissions from residential
        energy consumption (for example, gas for space, water heating and electricity for lighting and powering
        appliances and gadgets). Second, are the embedded emissions.
        Embedded emissions from supply chains (both domestic and international) account for the majority of Western households' carbon footprints (approximately 60–70%).</p>
    <p>A typical U.S. household has a carbon footprint of 48 metric tons CO2e/yr.The average carbon footprint for a
        person in the United States is 16 tons, one of the highest rates in the world</p>

    <div><b>Steps to reduce carbon footprint at home</b></div>
    <ul>
        <li>Recycle paper and steel and tin cans. </li>
        <li>Before throwing away, ask: Can I re-use or repair this? </li>
        <li>Donate working electronics. </li>
        <li>Don’t put non-recyclables in the recycling bin.</li>
        <li>Insulate your home. </li>
        <li>Plant shrubs and trees around your home. This is an easy, and pretty, insulation fix, especially for older
            homes. </li>
        <li>Check the energy-efficiency rating for your windows, doors and skylights. </li>
        <li>Install a cool roof. This is made of a reflective material which redirects light away from your house,
            keeping it cool. </li>
    </ul>
</div>