<h2>CS Amazons</h2>
<br>

<div class="row">
  <div class="column">
    <div class="card">
      <img class="logoImage" src="/assets/profile_susithra.jpg" alt="Susithra">
      <div class="container">
        <h3 style="text-align:center;"><b>Susithra Chandrabose</b></h3>
        <h3 style="text-align:center;"><i>susithra.chandrabose@credit-suisse.com</i></h3>
        <p><button class="button"><a href="https://github.com/susithrac" target="_blank">Github  account</a></button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img class="logoImage" src="/assets/profile_amol.jpg" alt="Amol">
      <div class="container">
        <h3 style="text-align:center;"><b>Amol B Lande</b></h3>
        <h3 style="text-align:center;"><i>amolbaburao.lande@credit-suisse.com</i></h3>
        <p><button class="button"><a href="https://github.com/amoll" target="_blank">Github account</a></button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img class="logoImage" src="/assets/profile_megha.jpg" alt="Megha">
      <div class="container">
        <h3 style="text-align:center;"><b>Megha M</b></h3>
        <h3 style="text-align:center;"><i>megha.m@credit-suisse.com</i></h3>
        <p><button class="button"><a href="https://github.com/megha-30" target="_blank">Github account</a></button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img class="logoImage" src="/assets/profile_chikla.jpg" alt="Chitkla">
      <div class="container">
        <h3 style="text-align:center;"><b>Chitkla S Khandekar</b></h3>
        <h3 style="text-align:center;"><i>chitkla.khandekar@credit-suisse.com</i></h3>
        <p><button class="button"><a href="https://GitHub.com/chitklak" target="_blank">Github account</a></button></p>
      </div>
    </div>
  </div>
</div>
