<h2>CS Amazons</h2>
<br>

<div class="row">
  <div class="column">
    <div class="card">
      <img class="logoImage" src="/assets/usericon.png" alt="Susithra">
      <div class="container">
        <h3 style="text-align:center;"><b>Susithra Chandrabose</b></h3>
        <p><button class="button"><a href="https://github.com/susithrac" target="_blank">Git account</a></button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img class="logoImage" src="/assets/usericon.png" alt="Amol">
      <div class="container">
        <h3 style="text-align:center;"><b>Amol B Lande</b></h3>
        <p><button class="button"><a href="https://github.com/amoll" target="_blank">Git account</a></button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img class="logoImage" src="/assets/usericon.png" alt="Megha">
      <div class="container">
        <h3 style="text-align:center;"><b>Megha M</b></h3>
        <p><button class="button"><a href="https://github.com/megha-30" target="_blank">Git account</a></button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img class="logoImage" src="/assets/usericon.png" alt="Chitkla">
      <div class="container">
        <h3 style="text-align:center;"><b>Chitkla S Khandekar</b></h3>
        <p><button class="button"><a href="https://GitHub.com/chitklak" target="_blank">Git account</a></button></p>
      </div>
    </div>
  </div>
</div>
