<div class="container">
    <mat-toolbar class="title-bg-color">
        <span>Planting</span>
    </mat-toolbar>
    <br>
    <p>Planting billions of trees across the world is one of the biggest and cheapest ways of taking CO2 out of the atmosphere to tackle the climate crisis, according to scientists, who have made the first calculation of how many more trees could be planted without encroaching on crop land or urban areas</p>
    <p>Growing a garden is not only beneficial for us, but it is also good for the environment since it minimises the number of miles it takes to bring food from the farm to our kitchen table, lowering the carbon footprint of our food</p>
    <p>Planting trees aids in the storage of carbon from the atmosphere in the soil.</p>

    <div><b>Steps to reduce carbon footprint with Planting</b></div>
    <ul>
        <li>Dig a pond - ponds increase garden biodiversity and help prevent flooding by slowing down the flow of water in heavy rains</li>
        <li>Planting a tree</li>
        <li>Grow plants from seed</li>
        <li>Prepare compost at home</li>
    </ul>
</div>