<h3>User Registration</h3>
<form class="my-form" [formGroup]="registerForm" (ngSubmit)="registerForm.valid && onRegisterSubmit()">
     <mat-card-content>
            <mat-form-field class="full-width">
                <mat-label>First Name</mat-label>
                <input id="firstName"  formControlName="firstName"  matInput  placeholder="First name"  required>
             </mat-form-field>
             <mat-form-field class="full-width">
                <mat-label>Last Name</mat-label>
                <input id="lastName"  formControlName="lastName" matInput  placeholder="Last Name"   required>
             </mat-form-field>
             <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input id="emai"  formControlName="email"  matInput  placeholder="Email" >
             </mat-form-field>
             <mat-form-field class="full-width">
                <mat-label>Password</mat-label>
                <input id="password" type="password"  formControlName="password"  matInput  placeholder="Password">
             </mat-form-field>
  
             <!-- <section class="example-section">
              <label class="example-margin">Gender:</label>
              <mat-radio-group  formControlName="gender">
                <mat-radio-button class="example-margin" value="male">Male</mat-radio-button>
                <mat-radio-button class="example-margin" value="female">Female</mat-radio-button>
                <mat-radio-button class="example-margin" value="other">Other</mat-radio-button>
              </mat-radio-group>
            </section> -->
         
            <!-- <mat-form-field>
              <mat-label>Date of Birth</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> -->
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button type="submit" color="primary" [disabled]="!registerForm.valid" class="btn-margin">REGISTER</button>
        
      </mat-card-actions>
    </form>

