<mat-toolbar class="title-bg-color">
    <span>Carbon Emissions Categories</span>
</mat-toolbar>
<mat-grid-list cols="3" rowHeight="2:1" class="articleMargin">
    <mat-grid-tile>
        <div class="item">
            <a routerLink="/housing">
                <img class="home">
            </a>
            <span class="caption">Housing</span>
        </div>
        <!-- <div class="img-with-text"></div>
        <p>Housing</p>  -->
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="item">
            <a routerLink="/travel">
                <img class="plane">
            </a>
            <span class="caption">Travel</span>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="item">
            <a routerLink="/product">
                <img class="cart">
            </a>
            <span class="caption">Products</span>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="item">
            <a routerLink="/food">
                <img class="food">
            </a>
            <span class="caption">Foods</span>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="item">
            <a routerLink="/service">
                <img class="hospital">
            </a>
            <span class="caption">Services</span>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="item">
            <a routerLink="/planting">
                <img class="plant">
            </a>
            <span class="caption">Planting</span>
        </div>
    </mat-grid-tile>
</mat-grid-list>