/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.spacer {
    flex: 1 1 auto;
  }
  body {margin: 0;padding: 0;max-width: 100%;overflow-x: hidden;}
  .hide {display: none;}
  .show {display: block;}
  .welcome-display{
    display: block;
    font-family: 'IBMPlexSans-Light', sans-serif;
    font-size: 1.5vw;
    text-align: center;
    margin: 10% auto 0; 
    border: 1px solid white;
    background: black;
    width: 32%;
    opacity: 0.5;}
  .logo-icon {width: 70px;height: 70px;}
  #login {font-family: 'IBMPlexSans-Medium', sans-serif;font-size: 14px;color: #FFFFFF;text-align: center;background-color: #4178BE;border: none;cursor: pointer;width: 158px;height: 40px;margin: 20px auto 28px 0;}
  #error {padding-top: 20px;font-size: 14px;color: red;}
  